button {
    width: 8.75rem; 
    height: 3.75rem; 
    background-color: #ffffff33;
  }

  
  .carousel {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  

  
  .carousel-item {
    flex: 0 0 40%;
    min-width: 40%; 
  }
  

  
 
  
  