button {
    width: 8.75rem; 
    height: 3.75rem; 
    background-color: #ffffff33;
  }

.carousel-container {
    margin: 20px;
    overflow: hidden;
    position: relative;
  }
  
  .carousel-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome */
  }
  
  .carousel-item {
    flex: 0 0 40%; /* Each item takes 40% of the carousel's width */
    /* margin-right: 20px; */
    min-width: 40%; /* Ensure the cards maintain their size */
  }
  

  
 
  
  